{
	admin localhost:2019
	servers {
		protocols h1 h2 h3
	}
}

import PummelchenRoutes.caddy

http:// {
	redir https://pummelchen.91.99.176.243.nip.io{uri} permanent
}

:7788 {
	redir https://pummelchen.91.99.176.243.nip.io{uri} permanent
}

pummelchen.91.99.176.243.nip.io, pummelchen.2a01-4f8-c17-ecab--1.nip.io {
	import pummelchen_routes

	tls {
		protocols tls1.2 tls1.3
	}

	log {
		output stdout
		format json
	}
}
